<a href="javascript:void(0)" class="list-group-item" data-nm-id="{{id}}">
    <h4 class="list-group-item-heading center-block">
        <i class="fa fa-cog" aria-hidden="true" style="color: black"></i>
        <span style="margin-right:5px;">{{machineNameFa}}</span>
        <span class="badge" style="float: left">{{countChildren}}</span>
    </h4>
    <p class="list-group-item-text">
        <span style="font-weight: bold">نام انگلیسی :</span>
        <span>{{machineNameEn}}</span>

        <span style="font-weight: bold;margin-right:20px;">کد تعمیرات پیشگیرانه :</span>
        <span>{{pmCode}}</span>
    </p>
</a>