<li class="list-group-item borderlessLeft" data-nm-permission-number="{{permissionNumber}}">
    <div class="checkbox abc-checkbox" style="text-align: center">
        <input id="{{id}}" type="checkbox" value="{{permissionNumber}}">
        <label for="{{id}}">{{permissionName}}</label>
    </div>
</li>