<tr data-nm-userId="{{userId}}" style="{{style}}">
    <td class="col-lg-4 col-md-4 nm-data-userName">{{userName}}</td>
    <td class="col-lg-4 col-md-4 nm-data-firstName">{{firstName}}</td>
    <td class="col-lg-4 col-md-4 nm-data-lastName">{{lastName}}</td>
</tr>